
h1{
    margin: 20px;padding:10px;border: solid yellowgreen;background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    color: brown;
    text-align: center;
    text-decoration: none;
}
p{
    margin: 20px;padding: 10px;border: solid moccasin;background-color: grey ;
}
body{
    /* background-image: url(https://images.unsplash.com/photo-1579353977828-2a4eab540b9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2FtcGxlfGVufDB8fDB8fHww&w=1000&q=80) */
background-repeat: no-repeat;
background-position: right;
background-size: contain;
object-fit:scale-down ;
background-color: brown;
}
@media only screen and (max-width:600px) {
    body{
        background-color: lightblue;
    }
    
    
}
