body{
    align-items: center;
    background-color: bisque;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    justify-items: center;
    justify-content: center;
    margin: 400px;padding:100px;border: solid yellowgreen;background-color: rgb(40, 38, 36);
    text-align: center;
    
    
}
